.editor, .results{
 width: 100%;
 margin: 0;
 padding: 0;
 border: 1px solid #ddd;
 background-color: #eee;
 margin-top: 1em;
}

h2{
 margin: 0.2em 0.2em;
}

#code, #result{
 width: 90%;
 margin: 5%;
}

.buttons{
 display: table;
 width: 100%;
 margin: 1em 0;
 text-align: right;
}

.buttons button{
 margin-right: 5%;
}

.results{
 margin-bottom: 2em;
}

.hero-unit{
 margin-top: 2em;
 padding: 2em;
}
